.root {
    margin: 3rem auto;
    width: 100%;
    max-width: 900px;
    padding: 2rem;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 2rem;
}

.section-title {
    font-size: 3rem;
    font-weight: 500;
}

.input-group {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.label {
    font-size: 1.4rem;
    min-width: 25%;
}

.input {
    width: calc(100% - 25% - 2rem);
}

.button-group {
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
    justify-content: flex-end;
}
